# Hugo
/public/
/resources/
/.hugo_build.lock

# Env files (IMPORTANT)
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Node modules
node_modules/

# Logs
*.log